*{
  margin: 0;
  padding: 0;
  font-family: Arial, helvetica, sans-sefif; 
  font-size: 16px;
  color: white;
}

.welcome{
  Color: white;
  padding: 20px 0;
  align-items: center;
}
.header{
  text-color: white;
  background-color: #333;
}
h3{
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
  color: black;
}

a{
  text-decoration: none;
}

.catagory{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

h1{
  padding-top: 10%;
  color: black;
  text-align: center;
  font-size: 50px;
}
.contentt{ 
  width: 35%;
  height: 180px;
  margin: 15px;
  border: 2px solid black;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  transition: 0.4s;
  background: darkgrey;
}

.contentt:hover{
  box-shadow: 0 3px 6px rgba(black),
  0 3px 6px rgba(black);
  transform: translate(0px, -8px);
}

.tt{
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  color: azure;
  padding-top: 45px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 37px;
}
.t{
  text-align: center;
  justify-content: center;
  color: white;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.content{ 
  width: 35%;
  height: 10%;
  margin: 15px;
  border: 2px solid black;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  transition: 0.4s;
  background: azure;
}

.content:hover{
  box-shadow: 0 3px 6px rgba(black),
  0 3px 6px rgba(black);
  transform: translate(0px, -8px);
}

img{
  width: 160px;
  height: 160ppx;
  text-align: center;
  margin: 0 auto;
  display: block;
}

p{
  text-align: center;
  justify-content: center;
  color: darkgrey;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

h6{
  font-size: 26px;
  text-align: center;
  color: dimgrey;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

button{
  align-items: center;
  text-align: center;
  font-size: 24px;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  color: white;
  margin-top: 5px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.buy-1{
  background-color: dodgerblue;
}

.buy-2{
  background-color: blueviolet;
}

.buy-3{
  background-color: orchid;
}

.buy-4{
  background-color: #08b93d;
}

.buy-1:hover{
  background-color: #ff9e4a;
}


.buy-2:hover{
  background-color: #ff9e4a;
}


.buy-3:hover{
  background-color: #ff9e4a;
}

.buy-4:hover{
  background-color: #ff9e4a;
}


nav{
  display: flex;
  padding: 1% 2%;
  justify-content: space-between;
  align-items: center;
  
  margin-top: 2px;
}
nav h2{
  font-size: 18px;
  text-transform: uppercase;
}
.list1{
  display: flex;
  text-align: center;
  gap: 30px;
  text-transform: uppercase;
}


footer{
  background: dimgray;
  padding-top: 50px;
}
.container{
  width:500px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.footer-content{
  width: 34.3%;
  padding: 50px;
}

.hhh{
  color: white;
  text-align: center;
}
h3{
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}
.footer-content p{
  width: 190px;
  margin: auto;
  padding: 7px;
}
.footer-content ul{
  text-align: center;
}
.list{
  padding: 0;
  list-style-type: none;
}
list li{
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}
.list1 li::before{
  content:'';
  position: absolute;
  transform: translate(50%,-50%);
  left: 50%;
  top: 100%;
  width: 0%;
  height: 2px;
  background: #f18930;
  transition-duration: 0.5s;
}
.list1 li:hover::before{
  width: 70px;
}
a{
  text-decoration: none;
}
a:hover{
  color: #f18930;
}
.copy{
  background-color: cadetblue;
  color: white;
  text-align: center;
  padding: 10px 0;
}
